@keyframes zoom {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.1,1.1);
  }
  100% {
    transform: scale(1,1);
  }
}

body {
  background-color: black;
  color: rgb(150, 150, 150);
  font-family: sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 900px;
  margin: auto;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.header__image {
  height: 200px;
  display: block;
  border-radius: 100px;
  margin: 0 40px 0 0;
}

.header__image:hover {
  opacity: 0.8;
}

.header__title {
  font-size: 2.5rem;
  font-family: monospace;
  margin: 0 0 30px 0;
}

.ht_blue {
  color: #6ddfff;
}

.ht_green {
  color: #b6e980;
}

.ht_yellow {
  color: #ffca57;
}

.header__description {
  color: rgb(200, 200, 200);
  font-size: 1rem;
  line-height: 1.2;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects__link-wrap {
  display: block;
  background-color: #262135;
  border-radius: 10px;  
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}

.skills__type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 0 20px 0;
  opacity: 0.7;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: bold;
}

.skills__type:last-child {
  margin-bottom: 0px;
}

.skills__type:hover, .skills__type:active, .skills__type:focus {
  opacity: 1;
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.skills__type_js {
  background-color: #fae000;
  color: black;
}

.skills__type_css {
  background-color: #0060b1;
  color: #d3d3d3;
}

.skills__type_html {
  background-color: #ef3c02;
  color: #d3d3d3;
}

.projects__window-header {
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(200, 200, 200);
  width: 100%;
  background-color: #261a30;
}

.projects__window-body {
  line-height: 1.3;
  padding: 30px;
  font-size: 1rem;
  color: #a4ccd6;
}

.projects__window-body p {
  margin: 0 0 20px 0;
}

.projects__window-body-link {
  color: #ffca57;
  text-decoration: none;
}

.projects__window-body-link:visited {
  color: #ffca57;
}

.projects__window-body-link:hover {
  color: #ffca57;
  opacity: 0.8;
}

.window-control {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  margin-left: 10px;
}

.window-control_red {
  background-color: #ff5a53;
}

.window-control_yellow {
  background-color: #ffbd2d;
}

.window-control_green {
  background-color: #53c22c;
}

.window-control-title {
  font-weight: normal;
  line-height: 2;
  font-size: 1.2rem;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1023px) {
  .header__text-wrapper {
    width: 70%;
  }
  .header__image {
    margin: 20px 0 40px 0;
  }

  .page {
    width: calc(100% - 40px);
  }

  .header {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .header__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {

  .header__text-wrapper {
    width: 100%;
  }

  .header__image {
    margin: 20px 0 40px 0;
  }

  .page {
    width: calc(100% - 40px);
  }

  .header {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .header__title {
    text-align: center;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }
  .skills__type {
    width: calc((100vw - 100px) / 3);
    height: calc((100vw - 100px) / 3);
    border-radius: calc((100vw - 100px) / 6) ;
    margin: 0;
    font-size: 1.1rem;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .projects__link-wrap {
    margin-bottom: 40px;
  }
  
  .window-control-title {
    font-weight: normal;
    line-height: 2;
    font-size: .9rem;
    margin: 0 0 0 10px;
  }
}
